/* https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_hover */
.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	/* width: 19%;
	height: 55px; */
	padding: 14px 50px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
/* 	margin: 0.5px 2px; */
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}

.button2 {
	background-color: white;
	color: black;
	border: 2px solid #1BB1EC;
}

.button2:hover {
	background-color: #1BB1EC;
	color: white;
}