<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="ClaimDAO">

	<insert id="insert" parameterType="ClaimVO">
	
	<selectKey keyProperty="claimNo" resultType="int" order="BEFORE">	<!-- 가장큰 claimNo찾아 다음값으로 입력 -->
		SELECT IFNULL(MAX(claim_no), 0) + 1 FROM claim
		</selectKey>
	
		<!-- insert into claim values () -->
		<![CDATA[
			INSERT INTO CLAIM(CLAIM_NO, CLAIM_CONTENT, CLAIM_W_DATE, CLAIM_CUSTOMER, CLAIM_PHONE, CLAIM_STATE)  
			VALUES(#{claimNo}, #{claimContent}, NOW(), #{claimCustomer}, #{claimPhone},'1')
		]]>
	</insert>
	
	<update id="update" parameterType="ClaimVO">
		<!-- update ? where claim_no = #{claimNo} -->
		<![CDATA[
			UPDATE CLAIM SET
				CLAIM_STATE = #{claimState}
				WHERE CLAIM_NO = #{claimNo}
		]]>
	</update>
	
	<delete id="delete" parameterType="ClaimVO">
		delete from claim where claim_no = #{claimNo}
	</delete>

	<select id="selectOne" parameterType="ClaimVO" resultType="ClaimVO">
		select * from claim where claim_no = #{claimNo}
	</select>
	
<select id="selectList" parameterType="com.yedam.yde.claim.ClaimSearchVO" resultType="ClaimVO">
		select * from claim 
		<where>
			<if test="claimState != null">
			claim_state = #{claimState}
			</if> 
		</where>
	</select>
	
	

</mapper>