<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ExpressDAO">



	<insert id="insert" parameterType="ExpressVO">

		<selectKey keyProperty="expressNo" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(express_no), 0) + 1 FROM express
		</selectKey>

		insert into express
		(
		express_no,
		express_req_date,
		express_date,
		express_departure_addr1,
		express_departure_size,
		express_departure_floor,
		express_arrive_addr1,
		express_arrive_size,
		express_arrive_Floor,
		express_speicial_item,
		express_estimate_amount,
		express_state,
		express_category,
		express_add_service,
		express_departure_addr2,
		express_phone,
		express_customer,
		express_visit_time,
		express_pay_category,
		express_visit_estimate,
		express_deposit,
		express_remainder,
		express_c_date,
		express_arrive_addr2
		)
		values
		(
		#{expressNo},
		NOW(),
		#{expressDate},
		#{expressDepartureAddr1},
		#{expressDepartureSize},
		#{expressDepartureFloor},
		#{expressArriveAddr1},
		#{expressArriveSize},
		#{expressArriveFloor},
		#{expressSpeicialItem},
		#{expressEstimateAmount},
		#{expressState},
		#{expressCategory},
		#{expressAddService},
		#{expressDepartureAddr2},
		#{expressPhone},
		#{expressCustomer},
		#{expressVisitTime},
		#{expressPayCategory},
		#{expressVisitEstimate},
		#{expressDeposit},
		#{expressRemainder},
		#{expressCDate},
		#{expressArriveAddr2}
		)
	</insert>

	<update id="update" parameterType="ExpressVO">
		update express set
		express_date =#{expressDate},
		express_departure_addr1
		=#{expressDepartureAddr1},
		express_departure_size
		=#{expressDepartureSize},
		express_departure_floor
		=#{expressDepartureFloor},
		express_arrive_addr1 =#{expressArriveAddr1},
		express_arrive_Floor =#{expressArriveFloor},
		express_speicial_item
		=#{expressSpeicialItem},
		express_estimate_amount
		=#{expressEstimateAmount},
		express_state =#{expressState},
		express_category =#{expressCategory},
		express_add_service
		=#{expressAddService},
		express_departure_addr2
		=#{expressDepartureAddr2},
		express_phone =#{expressPhone},
		express_customer =#{expressCustomer},
		express_visit_time
		=#{expressVisitTime},
		express_pay_category =#{expressPayCategory},
		express_deposit =#{expressDeposit},
		express_remainder
		=#{expressRemainder},
		express_visit_estimate=#{expressVisitEstimate},
		express_c_date =#{expressCDate},
		express_arrive_addr2 =#{expressArriveAddr2}
		where express_no =
		#{expressNo}
	</update>

	<delete id="delete" parameterType="ExpressVO">
		delete from express where
		express_no = #{expressNo}
	</delete>

	<select id="selectOne" parameterType="ExpressVO" resultType="ExpressVO">
		select * from express where express_no = #{expressNo}
	</select>

	<select id="selectList" resultType="ExpressVO">
		select * from express
	</select>
	
	<select id="selectListTodayA01" resultType="ExpressVO">		
		select * from express where express_no in
		(select express_no
		from express_state
		where
		date_format(express_change_date, '%Y %M %d')
		= date_format(sysdate(),
		'%Y %M %d')
		and express_current_state = 'A01')
	</select>
	
	<select id="selectListTodayA02" resultType="ExpressVO">		
		select * from express where express_no in
		(select express_no
		from express_state
		where
		date_format(express_change_date, '%Y %M %d')
		= date_format(sysdate(),
		'%Y %M %d')
		and express_current_state = 'A02')
	</select>
	
	<select id="selectListTodayA03" resultType="ExpressVO">		
		select * from express where
		date_format(express_visit_time, '%Y %M %d')
		= date_format(sysdate(),'%Y %M %d')
		and express_state = 'A03'
	</select>
	
	<select id="selectListTodayA05" resultType="ExpressVO">		
		select * from express where
		date_format(express_date, '%Y %M %d')
		= date_format(sysdate(),'%Y %M %d')
		and express_state = 'A05'
	</select>
	


	<select id="selectCalendarList" resultType="map">
		<!-- select express_no "id",express_customer "title",express_date||'+09:00' 
			"start" from express where express_state = 5 -->
		select express_no "id",express_customer
		"title",concat(date_format(express_date,'%Y-%m-%dT%T'),'+09:00')
		"express_date",concat(date_format(express_visit_time,'%Y-%m-%dT%T'),'+09:00')
		"visit_time"
		,express_state from express where express_state in
		('A02','A03','A04','A05','A06')
	</select>

	<!-- admin page -->
	<select id="selectCount" parameterType="ExpressVO" resultType="Integer">
		<!-- sysdate 날짜 포멧 : date_format(sysdate(), '%Y %M %d') -->
		<!-- select count(*) from express where date_format(express_req_date, '%Y 
			%M %d') = date_format(sysdate(), '%Y %M %d'); -->
		select count(*)
		from express_state
		where
		date_format(express_change_date, '%Y %M %d')
		= date_format(sysdate(),
		'%Y %M %d')
		and express_current_state = 'A02';
	</select>

	<select id="sendSmsInfo" resultType="ExpressVO">
		call ExpressSmsSend()
	</select>
</mapper>