<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ResourceDAO">

	<insert id="insert" parameterType="resourceVO">
		<selectKey keyProperty="resourceNo" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(resource_no), 0) + 1 FROM resource
		</selectKey>
		INSERT INTO resource (resource_no, resource_name, resource_category, resource_state)
		VALUES(#{resourceNo},#{resourceName},#{resourceCategory}, #{resourceState})
	</insert>

	<update id="update" parameterType="resourceVO">
		UPDATE resource
		SET
		resource_state=#{resourceState},
		resource_name=#{resourceName},
		resource_category=#{resourceCategory}
		WHERE
		resource_no = #{resourceNo}
	</update>

	<delete id="delete" parameterType="resourceVO">
		DELETE FROM resource WHERE
		resource_no = #{resourceNo}
	</delete>

	<select id="selectOne" parameterType="resourceVO" resultType="resourceVO">
		SELECT
		*
		FROM resource
		WHERE resource_no = #{resourceNo}
	</select>

	<select id="selectList" resultType="resourceVO">
		SELECT * FROM resource
	</select>
	
		<select id="selectListByNoExpress" parameterType="ExpressVO"
		resultType="ResourceVO">
		SELECT * FROM resource where resource_no not in (SELECT
		e.resource_no FROM express_resource ee join resource e on
		ee.resource_no = e.resource_no where ee.express_no = #{expressNo})
	</select>

	<select id="selectListByExpress" parameterType="ExpressVO"
		resultType="ResourceVO">
		SELECT * FROM express_resource ee join resource e on
		ee.resource_no = e.resource_no where ee.express_no = #{expressNo}
	</select>

	<insert id="insertResourceExpress" parameterType="ExpressVO">
		INSERT INTO
		express_resource (resource_no, express_no)
		VALUES(#{resourceNo},
		#{expressNo})
	</insert>

	<delete id="deleteResourceExpress" parameterType="Integer">
		DELETE FROM express_resource WHERE
		express_no=#{expressNo}
	</delete>
	
	
</mapper>
