<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SmsDAO">

	<insert id="insert" parameterType="SmsVO">
		<selectKey keyProperty="smsNo" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(sms_no), 0) + 1 FROM sms
		</selectKey>
		insert into sms
		(
		sms_no,
		sms_content,
		sms_send_addr,
		sms_receive_addr,
		sms_w_date,
		sms_s_date,
		sms_rs_date,
		sms_state,
		express_no
		)
		values
		(
		#{smsNo},
		#{smsContent},
		#{smsSendAddr},
		#{smsReceiveAddr},
		NOW(),
		#{smsSDate},
		#{smsRsDate},
		#{smsState},
		#{expressNo}
		)
	</insert>

	<update id="update" parameterType="SmsVO">
		update sms set 
		sms_content=#{smsContent}, 
		sms_send_addr=#{smsSendAddr},
		sms_receive_addr=#{smsReceiveAddr},
		sms_s_date=#{smsSDate},
		sms_rs_date=#{smsRsDate},
		sms_state=#{smsState},
		express_no=#{expressNo}
		where sms_no = #{smsNo}
	</update>

	<delete id="delete" parameterType="SmsVO">
		delete from sms where sms_no =
		#{smsNo}
	</delete>

	<select id="selectOne" parameterType="SmsVO" resultType="SmsVO">
		select *
		from sms where sms_no = #{smsNo}
	</select>

	<select id="selectList" resultType="SmsVO">
		select * from sms
	</select>
	
	<select id="selectListForAndroid" resultType="SmsVO">
		select * from sms where
		sms_state = 'D01'
	</select>
</mapper>